:root {
  --body-font: "Work Sans", sans-serif;
  --header-font: "Syne", sans-serif;
  --primary-color: #d28eb1;
  --main-grey: #d9d9d9;
  --secondary-color: #6198ad;
}
h1 {
  font-family: var(--header-font);
  font-size: 32px;
  font-weight: bold;
}
h2 {
  font-family: var(--header-font);
  font-weight: medium;
  font-size: 50px;
}
h4 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h5 {
  font-size: 24px;
  line-height: 30px;
  border-left: black solid 2px;
  padding-left: 32px;
}

.nav-item {
  padding: 0 30px;
}

nav a {
  font-family: var(--body-font);
}
nav .navbar-brand {
  font-family: var(--header-font);
}
nav .active {
  font-weight: bold;
}

p {
  font-family: var(--body-font);
  font-size: 16px;
  line-height: 21px;
}

footer ul {
  margin: 100px 20px 50px;
}
footer li {
  list-style: none;
  color: var(--secondary-color);
}

footer h6 {
  font-style: var(--body-font);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 3px 10px 0px;
}

footer h6:hover {
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
}

.about-section {
  background-color: var(--secondary-color);
  padding: 60px 0;
}
.contact-section {
  background-color: var(--primary-color);
  padding: 100px 20px;
}

.hero {
  padding: 100px;
}

.hero-left {
  margin-top: 150px;
}
.hero-left h1 {
  font-family: var(--header-font);
  font-size: 37px;
  font-weight: 600;
  max-width: 450px;
}

.black-bracket {
  max-width: 80px;
  background-color: black;
  height: 4px;
  margin-bottom: 40px;
}
.core-image {
  padding: 30px;
  margin: 20px 0;
}

.mail-link {
  color: white;
}
.mail-link:hover {
  color: var(--secondary-color);
  text-decoration: none;
}
.marker-left {
  background-color: black;
  height: 30px;
  width: 2px;
  margin-right: 32 px;
}
.primary-button {
  background-color: var(--primary-color);
  color: black;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px;
}

.primary-button:hover {
  color: var(--primary-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px;
}

.project {
  margin: 100px 0;
}
.project-image {
  position: relative;
  border-radius: 5px;
}

.project-description {
  margin-top: 100px;
  height: 100%;
  background-color: white;
  padding: 32px 60px;
  border-radius: 5px;
  box-shadow: 10px 10px 70px rgba(0, 0, 0, 0.2);
  position: relative;
}

.description-right {
  left: -100px;
}
.description-left {
  left: 100px;
  z-index: 1;
}
.project-title {
  margin: 150px 0 100px 0;
}
.view-more-link {
  color: var(--primary-color);
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.view-more-link:hover {
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}
.work-description ul {
  list-style: none;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: right;
}
.work-description p {
  max-width: 500px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 20px;
}
.work-number {
  margin-top: -60px;
  position: absolute;
  z-index: 1;
}
.work-number h3 {
  font-family: var(--header-font);
  font-size: 100px;
  margin-right: 40px;
}

@media (max-width: 992px) {
  footer ul {
    margin: 20px;
    padding: 0px;
  }

  .about-section {
    padding: 20px;
  }

  .about-section img {
    padding: 20px 30px;
  }

  .about-section h1 {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }

  .about-section a {
    display: block;
    text-align: center;
  }

  .hero {
    background-color: var(--main-grey);
    padding: 0 20px 70px;
  }

  .project-description {
    left: 0px;
    margin: 10px 16px;
    padding: 24px 40px;
  }
  .values img {
    padding: 30px;
  }

  .values p {
    padding: 0 20px;
  }
  .values img {
    padding: 20px 80px 0;
    margin: 10px 0;
  }
}
